# auth string is defined by base64_encode
# User npm ...
registry=https://artifactory.sie.sony.com/artifactory/api/npm/ce-sie-private-npm-prod-virtual/
@sie-private:registry=https://artifactory.sie.sony.com/artifactory/api/npm/ce-sie-private-npm-prod-virtual/
@rnps:registry=https://artifactory.sie.sony.com/artifactory/api/npm/ce-sie-private-npm-prod-virtual/
@rnps-ppr:registry=https://artifactory.sie.sony.com/artifactory/api/npm/ce-sie-private-npm-prod-virtual/
//artifactory.sie.sony.com/artifactory/api/npm/ce-sie-private-npm-prod-virtual/:_password={uks-artifactory-sie-npm-token}
//artifactory.sie.sony.com/artifactory/api/npm/ce-sie-private-npm-prod-virtual/:username=svcacct-sie-kmj-jenk
//artifactory.sie.sony.com/artifactory/api/npm/ce-sie-private-npm-prod-virtual/:email=svcacct-sie-kmj-jenk@am.sony.com
//artifactory.sie.sony.com/artifactory/api/npm/ce-sie-private-npm-prod-virtual/:always-auth=true

@sie-ppr-web-session:registry=https://artifactory.sie.sony.com/artifactory/api/npm/ce-sie-npm-prod-virtual/
@sie:registry=https://artifactory.sie.sony.com/artifactory/api/npm/ce-sie-npm-prod-virtual/
//artifactory.sie.sony.com/artifactory/api/npm/ce-sie-npm-prod-virtual/:_auth={uks-artifactory-npm-secret}
//artifactory.sie.sony.com/artifactory/api/npm/ce-sie-npm-prod-virtual/:always-auth=true

@types:registry=https://artifactory.sie.sony.com/artifactory/api/npm/ce-sie-npm-prod-virtual/
@types:registry=https://artifactory.sie.sony.com/artifactory/api/npm/ce-sie-npm-prod-virtual/
//artifactory.sie.sony.com/artifactory/api/npm/ce-sie-npm-prod-virtual/:_auth={uks-artifactory-npm-secret}
//artifactory.sie.sony.com/artifactory/api/npm/ce-sie-npm-prod-virtual/:always-auth=true

@scope2:registry=https://artifactory.sie.sony.com/artifactory/api/npm/scrumntonic-npm-dev-virtual/
//artifactory.sie.sony.com/artifactory/api/npm/scrumntonic-npm-dev-virtual/:_auth={uks-artifactory-npm-secret}
//artifactory.sie.sony.com/artifactory/api/npm/scrumntonic-npm-dev-virtual/:always-auth=true

@scope3:registry=https://artifactory.sie.sony.com/artifactory/api/npm/pucl-npm-release-virtual/
//artifactory.sie.sony.com/artifactory/api/npm/pucl-npm-release-virtual/:_auth={uks-artifactory-npm-secret}
//artifactory.sie.sony.com/artifactory/api/npm/pucl-npm-release-virtual/:always-auth = true

@track61:registry=https://artifactory.sie.sony.com/artifactory/api/npm/track61-npm-dev-local/
//artifactory.sie.sony.com/artifactory/api/npm/track61-npm-dev-local/:_auth={uks-artifactory-npm-secret}
//artifactory.sie.sony.com/artifactory/api/npm/track61-npm-dev-local/:always-auth=true

@iptools-common-ui:registry=https://artifactory.sie.sony.com/artifactory/api/npm/scrumntonic-npm-dev-virtual/
//artifactory.sie.sony.com/artifactory/api/npm/scrumntonic-npm-dev-virtual/:_auth={uks-artifactory-npm-secret}
//artifactory.sie.sony.com/artifactory/api/npm/scrumntonic-npm-dev-virtual/:always-auth=true

@tooling-common:registry=https://artifactory.sie.sony.com/artifactory/api/npm/scrumntonic-npm-dev-virtual/
//artifactory.sie.sony.com/artifactory/api/npm/scrumntonic-npm-dev-virtual/:_auth={uks-artifactory-npm-secret}
//artifactory.sie.sony.com/artifactory/api/npm/scrumntonic-npm-dev-virtual/:always-auth=true

@creative-previewer-tool-ui:registry=https://artifactory.sie.sony.com/artifactory/api/npm/scrumntonic-npm-dev-virtual/
//artifactory.sie.sony.com/artifactory/api/npm/scrumntonic-npm-dev-virtual/:_auth={uks-artifactory-npm-secret}
//artifactory.sie.sony.com/artifactory/api/npm/scrumntonic-npm-dev-virtual/:always-auth=true

@automation:registry=https://artifactory.sie.sony.com/artifactory/api/npm/scrumntonic-npm-dev-virtual/
//artifactory.sie.sony.com/artifactory/api/npm/scrumntonic-npm-dev-virtual/:_auth={uks-artifactory-npm-secret}
//artifactory.sie.sony.com/artifactory/api/npm/scrumntonic-npm-dev-virtual/:always-auth=true

@next:registry=https://artifactory.sie.sony.com/artifactory/api/npm/scrumntonic-npm-dev-virtual/
//artifactory.sie.sony.com/artifactory/api/npm/scrumntonic-npm-dev-virtual/:_auth={uks-artifactory-npm-secret}
//artifactory.sie.sony.com/artifactory/api/npm/scrumntonic-npm-dev-virtual/:always-auth=true

# User art ...
@atlas:registry=https://artifactory.sie.sony.com/artifactory/api/npm/atlas-npm-release-local/
//artifactory.sie.sony.com/artifactory/api/npm/atlas-npm-release-local/:_password={uks-artifactory-sie-npm-token}
//artifactory.sie.sony.com/artifactory/api/npm/atlas-npm-release-local/:username=svcacct-sie-kmj-jenk
//artifactory.sie.sony.com/artifactory/api/npm/atlas-npm-release-local/:email=svcacct-sie-kmj-jenk@am.sony.com
//artifactory.sie.sony.com/artifactory/api/npm/atlas-npm-release-local/:always-auth=true

@testing-library:registry=https://artifactory.sie.sony.com/artifactory/api/npm/ce-sie-private-npm-prod-virtual/
//https://artifactory.sie.sony.com/artifactory/api/npm/ce-sie-private-npm-prod-virtual/:_auth={uks-artifactory-npm-secret}
//https://artifactory.sie.sony.com/artifactory/api/npm/ce-sie-private-npm-prod-virtual/:always-auth=true

# User -a
@partner-global-ui:registry=https://artifactory.sie.sony.com/artifactory/api/npm/pucl-npm-release-virtual/
//artifactory.sie.sony.com/artifactory/api/npm/pucl-npm-release-virtual/:_auth={uks-artifactory-npm-secret}
//artifactory.sie.sony.com/artifactory/api/npm/pucl-npm-release-virtual/:always-auth=true

@x24:registry=https://artifactory.sie.sony.com/artifactory/api/npm/x23-npm-dev-virtual/
//artifactory.sie.sony.com/artifactory/api/npm/x23-npm-dev-virtual/:_password={uks-artifactory-sie-npm-token}
//artifactory.sie.sony.com/artifactory/api/npm/x23-npm-dev-virtual/:username=svcacct-sie-kmj-jenk
//artifactory.sie.sony.com/artifactory/api/npm/x23-npm-dev-virtual/:email=svcacct-sie-kmj-jenk@am.sony.com
//artifactory.sie.sony.com/artifactory/api/npm/x23-npm-dev-virtual/:always-auth=true

@audience-selection-module:registry=https://artifactory.sie.sony.com/artifactory/api/npm/audience-selection-npm-dev-local/
//artifactory.sie.sony.com/artifactory/api/npm/audience-selection-npm-dev-local/:_auth={uks-artifactory-npm-secret}
//artifactory.sie.sony.com/artifactory/api/npm/audience-selection-npm-dev-local/:always-auth=true

@cstools:registry=https://artifactory.sie.sony.com/artifactory/api/npm/cstools-npm-release-local/
//artifactory.sie.sony.com/artifactory/api/npm/cstools-npm-release-local/:_auth={uks-artifactory-npm-secret}
//artifactory.sie.sony.com/artifactory/api/npm/cstools-npm-release-local/:always-auth=true

@talos:registry=https://artifactory.sie.sony.com/artifactory/api/npm/contentpreview-npm-release-virtual/
//artifactory.sie.sony.com/artifactory/api/npm/contentpreview-npm-release-virtual/:_auth={uks-artifactory-npm-secret}
//artifactory.sie.sony.com/artifactory/api/npm/contentpreview-npm-release-virtual/:always-auth=true

@babel:registry=https://artifactory.sie.sony.com/artifactory/api/npm/audience-selection-npm-dev-virtual/
//artifactory.sie.sony.com/artifactory/api/npm/audience-selection-npm-dev-virtual/:_auth={uks-artifactory-npm-secret}
//artifactory.sie.sony.com/artifactory/api/npm/audience-selection-npm-dev-virtual/:always-auth=true

always-auth=true

# For gyp-node
disturl=https://artifactory.sie.sony.com/artifactory/sie-nodejs-dist-remote/

# For node-sass
sass_binary_site=https://artifactory.sie.sony.com/ui/native/engine-maven-thirdparty-prod-local/node-sass/

//artifactory.sie.sony.com/artifactory/api/npm/:_auth={uks-artifactory-npm-secret}
//artifactory.sie.sony.com/artifactory/api/npm/:always-auth=true        

@cstools:registry=https://artifactory.sie.sony.com/artifactory/api/npm/cstools-npm-release-local/
//artifactory.sie.sony.com/artifactory/api/npm/cstools-npm-release-local/:_password={uks-artifactory-sie-npm-token}
//artifactory.sie.sony.com/artifactory/api/npm/cstools-npm-release-local/:username=svcacct-sie-kmj-jenk
//artifactory.sie.sony.com/artifactory/api/npm/cstools-npm-release-local/:email=svcacct-sie-kmj-jenk@am.sony.com
//artifactory.sie.sony.com/artifactory/api/npm/cstools-npm-release-local/:always-auth=true

